{% load account_tags %}
<ul class="nav pull-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <ul class="dropdown-menu">
                <li><a href="{% url account_settings %}"><i class="icon-user"></i> Settings</a></li>
                <li class="divider"></li>
                <li><a href="{% url account_logout %}"><i class="icon-off"></i> Log out</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href ="/facebook/connect">Connect with Facebook </a></li>


    {% endif %}
</ul>