{% load i18n %}
<div class="legal">
    {% trans "&copy; 2012 &lt;Bluekulu&gt;" %}
</div>
<script type="text/javascript">
window.onload=function(){
  var key = "69ab41c1-b4b4-4d0f-9b45-8260f9adcf23";
  var host = "//logs.loggly.com";
  castor = new loggly.castor({ url: host+'/inputs/'+key, level: 'log'});
  castor.log("Hello, world!");
  castor.log({date: Date(), location: window.location.href});
}
</script>
<script type="text/javascript" src="//d3eyf2cx8mbems.cloudfront.net/js/loggly-0.2.1.js"></script>