{% extends "banner_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block banner %}
    <h1>{% trans "1000Worksheets.com" %}</h1>
    <p>
        {% blocktrans %}
        This is a site to allow you to generate math and logic worksheets for 
        kids. 
        {% endblocktrans %}
    </p>
    

    
    {% if user.is_authenticated %}
        <div id="wall_post" style="margin: 60px 0px 20px 0px;">
        <h2>Post to My Wall</h2>
        <div>
            <form action="{% url facebook_wall_post %}" method="get">
                {% csrf_token %}
                <input type="hidden" value="{{ request.path }}" name="next" />

                <textarea name="message" rows="3" cols="35">Check out www.vid.ie, Maths stuff:)</textarea>
                <br />
                <input type="submit" value="Post to your wall" />
            </form>
        </div>
    </div>
    
        {% url what_next as what_next_url %}
        <p class="what_next">{% blocktrans %}Wondering <a href="{{ what_next_url }}" class="btn primary large">What Next</a>?{% endblocktrans %}</p>
    {% else %}
        <p>
    	<a href ="/facebook/connect">Connect with Facebook </a>
    	</p>
        {% url account_login as login_url %}
        {% url account_signup as signup_url %}
        <p>{% blocktrans %}You can <a href="{{ login_url }}" class="btn">Log In</a> or <a href="{{ signup_url }}" class="btn primary">Sign Up</a> to try out the site.{% endblocktrans %}</p>
    {% endif %}


{% endblock %}
    
    <div class="row">
        <div class="span4">
        {% block column-1 %}
            <h2>Maths</h2>
            <p><a href ="/gen/simple_math">Simple Math Sheet</a></p>
            <p><a href ="/gen/simple_image">Add Shapes </a></p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        {% endblock %}
        </div>
        <div class="span4">
        {% block column-2 %}
            <h2>Puzzles</h2>
            <p><a href ="/gen/viewmaze/10">A Simple Maze</a></p>
            <p><a href ="/gen/viewmaze/20">A Bigger Maze</a></p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        {% endblock %}
        </div>
        <div class="span4">
        {% block column-3 %}
            <h2>Share</h2>
            <p>You can easily share the worksheets you create on Facebook</p>
            <p><a class="btn" href="#">View details &raquo;</a></p>
        {% endblock %}
        </div>
    </div>

